.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.app_img {
  border-radius: 15px;
  border: 1px solid black;
}
.datail_tabel {
  font-size: 20px;
}

.download_button {
  background-color: #fff;
  color: #fff;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  background-image: url("picture/download.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.download_button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.download_button:active {
  background-color: #999;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  transform: translateY(2px);
}


table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.download-button {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.download-button:hover {
    background-color: #ccc;
}

.div-center {
  text-align: center;
}

.left-div {
  float: left;
  width: 50%; /* 或其他具体的宽度 */
}

.right-div {
  float: left;
  width: 50%; /* 或其他具体的宽度 */
}